@import url('~typeface-mali/index.css');

html,
body {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: 'Mali', cursive;
}

* {
  outline: none;
}

a {
  &,
  &:visited {
    cursor: pointer;
    text-decoration: none;
    transition: color 150ms ease;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

input,
option {
  font-family: inherit;
}

.button-reset-css { // FIXME: FOR REACT
  font: inherit;
  border: inherit;
  background: inherit;
  color: inherit;
}

@import "./input-range";
